openapi: 3.1.0
info:
  title: Codemagic REST API (v1)
  version: "1.0.0"
  description: |
    Hand-authored OpenAPI description of the legacy/stable Codemagic v1 REST API
    (base https://api.codemagic.io). Codemagic publishes no machine-readable spec
    for v1 — this document is reconstructed from https://docs.codemagic.io/rest-api/
    and verified against live responses. Field lists on response objects are partial;
    objects use `additionalProperties: true` where the docs are not exhaustive.

    NOTE on artifacts: the artifact `secureFilename` is a multi-segment path
    (`<build-id>/<artifact-id>/<filename>`). OpenAPI path parameters cannot span
    "/", so a generated client cannot template these operations reliably. Fetch the
    artifact URL (from a build's `artifacts[].url`) directly with URLSession instead.
    These operations are documented here for completeness only.
servers:
  - url: https://api.codemagic.io
security:
  - apiToken: []
tags:
  - name: Applications
  - name: Builds
  - name: Artifacts
  - name: Caches
paths:
  /apps:
    get:
      tags: [Applications]
      operationId: listApps
      summary: List all applications
      responses:
        "200":
          description: Applications for the authenticated user
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  applications:
                    type: array
                    items: { $ref: "#/components/schemas/Application" }
                required: [applications]
    post:
      tags: [Applications]
      operationId: addApp
      summary: Add a new application from a public repository
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                repositoryUrl: { type: string }
                teamId: { type: string }
              required: [repositoryUrl]
      responses:
        "200":
          description: Created application
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Application" }
  /apps/new:
    post:
      tags: [Applications]
      operationId: addAppFromPrivateRepo
      summary: Add an application from a private repository
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                repositoryUrl: { type: string }
                sshKey:
                  type: object
                  properties:
                    data: { type: string, description: base64-encoded private key }
                    passphrase: { type: string }
                  required: [data]
                projectType: { type: string }
                teamId: { type: string }
              required: [repositoryUrl, sshKey]
      responses:
        "200":
          description: Created application (nested under application.application)
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  application:
                    type: object
                    additionalProperties: true
                    properties:
                      application: { $ref: "#/components/schemas/Application" }
  /apps/{id}:
    get:
      tags: [Applications]
      operationId: getApp
      summary: Retrieve a single application
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: The application
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  application: { $ref: "#/components/schemas/Application" }
                required: [application]
  /builds:
    get:
      tags: [Builds]
      operationId: listBuilds
      summary: List / filter builds
      parameters:
        - { name: appId, in: query, required: false, schema: { type: string } }
      responses:
        "200":
          description: Builds
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  builds:
                    type: array
                    items: { $ref: "#/components/schemas/Build" }
                required: [builds]
    post:
      tags: [Builds]
      operationId: startBuild
      summary: Start a new build
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                appId: { type: string }
                workflowId: { type: string }
                branch: { type: string }
                tag: { type: string }
                environment:
                  type: object
                  additionalProperties: true
                labels:
                  type: array
                  items: { type: string }
                instanceType: { type: string }
              required: [appId, workflowId]
      responses:
        "200":
          description: Build started
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  buildId: { type: string }
                required: [buildId]
  /builds/{id}:
    get:
      tags: [Builds]
      operationId: getBuild
      summary: Get one build
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: The build
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  build: { $ref: "#/components/schemas/Build" }
                required: [build]
  /builds/{id}/cancel:
    post:
      tags: [Builds]
      operationId: cancelBuild
      summary: Cancel a build
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Build cancelled
        "208":
          description: Already Reported — the build had already finished
  /artifacts/{secureFilename}:
    get:
      tags: [Artifacts]
      operationId: downloadArtifact
      summary: Download an artifact (see spec note — fetch the URL directly instead)
      parameters:
        - { name: secureFilename, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Artifact bytes
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
  /artifacts/{secureFilename}/public-url:
    post:
      tags: [Artifacts]
      operationId: createArtifactPublicUrl
      summary: Create a tokenless public download URL
      parameters:
        - { name: secureFilename, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                expiresAt: { type: integer, description: expiry as UNIX seconds }
              required: [expiresAt]
      responses:
        "200":
          description: Public URL
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  url: { type: string }
                  expiresAt: { type: string }
                required: [url]
  /apps/{id}/caches:
    get:
      tags: [Caches]
      operationId: listCaches
      summary: Retrieve application caches
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Caches
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Cache" }
    delete:
      tags: [Caches]
      operationId: deleteAllCaches
      summary: Delete all application caches
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        "202":
          description: Accepted — deletion processed asynchronously
  /apps/{id}/caches/{cacheId}:
    delete:
      tags: [Caches]
      operationId: deleteCache
      summary: Delete a specific workflow cache
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - { name: cacheId, in: path, required: true, schema: { type: string } }
      responses:
        "202":
          description: Accepted — deletion processed asynchronously
components:
  securitySchemes:
    apiToken:
      type: apiKey
      in: header
      name: x-auth-token
  schemas:
    Application:
      type: object
      additionalProperties: true
      properties:
        _id: { type: string }
        appName: { type: string }
        branches:
          type: array
          items: { type: string }
        workflowIds:
          type: array
          items: { type: string }
        workflows:
          type: object
          additionalProperties: true
      required: [_id]
    Build:
      type: object
      additionalProperties: true
      properties:
        _id: { type: string }
        status: { type: string }
        branch: { type: string }
        tag: { type: string }
        workflowId: { type: string }
        artifacts:
          type: array
          items: { $ref: "#/components/schemas/Artifact" }
      required: [_id]
    Artifact:
      type: object
      additionalProperties: true
      properties:
        name: { type: string }
        type: { type: string }
        url:
          type: string
          description: secureFilename path used by the artifacts endpoints
      required: [url]
    Cache:
      type: object
      additionalProperties: true
      properties:
        _id: { type: string }
        appId: { type: string }
        workflowId: { type: string }
        lastUsed: { type: string }
        size: { type: integer }
      required: [_id]
